@import "../../../../styles/variables.scss";

.thisDayInfo {
  position: relative;
  padding: 30px;
  width: 60%;
  min-width: 50px;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  background: var(#{--components-bg-default});
  overflow: hidden;
}

@media (max-width: 900px) {
  .thisDayInfo {
    width: 100%;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  position: relative;
  z-index: 10;
  text-align: left;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.item svg {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px rgba(34, 69, 119, 0.8);
  border-radius: 50%;
}

.indicator__name {
  color: $base-color;
}

.indicator__value {
  color: var(#{--text-color-default});
}

.cloud1,
.cloud2,
.cloud3,
.cloud4 {
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

@-webkit-keyframes animCloud {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}
@-moz-keyframes animCloud {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}
@keyframes animCloud {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.cloud1 {
  -webkit-animation: animCloud 40s infinite linear;
  -moz-animation: animCloud 40s infinite linear;
  animation: animCloud 40s infinite linear;
}
.cloud2 {
  -webkit-animation: animCloud 60s infinite linear;
  -moz-animation: animCloud 60s infinite linear;
  animation: animCloud 60s infinite linear;
}
.cloud3 {
  -webkit-animation: animCloud 80s infinite linear;
  -moz-animation: animCloud 80s infinite linear;
  animation: animCloud 80s infinite linear;
}
.cloud4 {
  -webkit-animation: animCloud 100s infinite linear;
  -moz-animation: animCloud 100s infinite linear;
  animation: animCloud 100s infinite linear;
}

@media (max-width: 800px) {
  .thisDayInfo {
    width: 100%;
  }
}