$primary-color: #043272;
$day-bg: rgba(255, 247, 230);
$box-shadow: rgb(38 57 77) 0px 20px 30px -10px;
$border-radius: 20px;

$day-color: #0f0f0f;
$night-color: #cfc975;
$base-color: #527edf;

$body-bg-day: url(../assets/img/bg/day.jpg);
$body-bg-night: url(../assets/img/bg/night.jpg);

$components-bg-night: #4f4f4f;
$components-bg-day: rgba(255, 247, 230, 0.7);

$card-bg-day: rgb(127 158 201 / 30%);
$card-bg-night: #2e3035;
$card-box-shadow-day: 0px 1px 10px rgba(179, 178, 181, 0.2);
$card-box-shadow-night: 0px 1px 10px rgba(179, 178, 181, 0.8);

:root {
  //body-bg
  --body-bg-night: #{$body-bg-night};
  --body-bg-day: #{$body-bg-day};
  --body-bg-default: var(#{--body-bg-day});

  //components-bg
  --components-bg-night: #{$components-bg-night};
  --components-bg-day: #{$components-bg-day};
  --components-bg-default: var(#{--components-bg-day});

  //card-bg
  --card-bg-night: #{$card-bg-night};
  --card-bg-day: #{$card-bg-day};
  --card-bg-default: var(#{--card-bg-day});

  //card-shadow
  --card-shadow-night: #{$card-box-shadow-night};
  --card-shadow-day: #{$card-box-shadow-day};
  --card-shadow-default: var(#{--card-shadow-day});

  //text
  --text-color-night: #{$night-color};
  --text-color-day: #{$day-color};
  --text-color-default: var(#{--text-color-day});
}
